<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo2.png" type="image/png" sizes="16x16">
    <title>403 | Unauthorized</title>
    <style>
        .was-validated .form-control:valid {
            background-image: none;
            border-color: #ced4da;
        }
    </style>

</head>

<body>
    <main>
        <div class="container">

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="/" class="logo d-flex align-items-center w-auto">

                                    <img src="/img/logo.png" alt="Logo" height="30" class="align-text-center">


                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body text-center">
                                    <h3 class="text-danger fw-bold">403 - Unauthorized!</h3>
                                    <p class="fw-bold">Access Denied. You Do Not Have The Permission To Access
                                        This Page On This Server</p>

                                      
                                    <a href="/" class="btn btn-danger">Go Homepage</a>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
        </div>

        </section>

        </div>
    </main><!-- End #main -->


</body>

</html>