<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="/img/logo2.png" type="image/png" sizes="16x16">
  <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
  
  <title><%=title%></title>

  <!-- Google Fonts -->
 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css" />
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- DataTable CSS CDN -->
  <link rel="stylesheet" href="/vendor/datatables/datatables.css">


  <!-- Template Main CSS File -->
  <link href="/css/style2.css" rel="stylesheet">


</head>